[submodule "orderbook-project/lib/forge-std"]
	path = orderbook-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "orderbook-project/lib/openzeppelin-contracts"]
	path = orderbook-project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
